<?xml version="1.0" encoding="utf-8"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
  <plugin>
    <!-- unique identifier = folder name -->
    <pluginName>Soundcloud</pluginName>
    <pluginNiceName>Pimcore Soundcloud Consumer</pluginNiceName>
    <!-- 64 x 64 Pixel Icon -->
    <pluginIcon>/plugins/Soundcloud/static/img/soundcloud.jpg</pluginIcon>
    <pluginDescription>
      <![CDATA[
        Connects to Soundcloud using the OAuth Plugin
        <hr />
        Fetch tracks from your Soundcloud account
        ]]>
    </pluginDescription>
    <pluginServer></pluginServer>
    <!-- Version, revision and timestamp are updated by createRevision script at check in to plugin server!-->
    <pluginVersion>0.5.1</pluginVersion>
    <pluginRevision>2</pluginRevision>
    <pluginBuildTimestamp>1299881887</pluginBuildTimestamp>
    <!-- content to include in pimcore admin in a iframe, if pluginIframeSrc is defined,
     the options button is included and the iframe is shown in an extra tab -->
    <pluginIframeSrc></pluginIframeSrc>
    <!-- className of the plugin which extends Pimcore_API_Plugin_Abstract-->
    <pluginClassName>Soundcloud_Plugin</pluginClassName>
    <!-- include paths relative to plugin-directory -->
    <pluginIncludePaths>
      <path>/Soundcloud/lib</path>
      <path>/Soundcloud/controllers</path>
      <path>/Soundcloud/models</path>
    </pluginIncludePaths>
    <!-- namespaces to register with autoloader-->
    <pluginNamespaces>
      <namespace>Soundcloud</namespace>
    </pluginNamespaces>
    <!-- js files needed for pimcore plugin (backend) with path relative to plugin-directory -->
    <pluginJsPaths>
      <path>/Soundcloud/static/js/soundcloud.js</path>
    </pluginJsPaths>
    <!-- css files needed for pimcore plugin (backend) with path relative to plugin-directory -->
    <pluginCssPaths>
      <path>/Soundcloud/static/css/soundcloud.css</path>
    </pluginCssPaths>
  </plugin>
</zend-config>
